@import './base.css';

@view-transition{
  navigation: auto
}
::view-transition-old(:root){
  animation-duration: 1s;
}

#app {
  font-weight: normal;
  width: 100%;
  min-height: 100vh;

}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  transition: 0.4s;

}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}
